<!-- https://buttondown.email form -->
<form
  action="https://buttondown.email/api/emails/embed-subscribe/julia.school"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/julia.school', 'popupwindow')"
  class="embeddable-buttondown-form">

	<label for="email">
		Subscribe to Julia tutorials
	</label>

	<p>
		Get Julia data analysis tips in your inbox
  </p>

  <input type="email" name="email" id="email" placeholder="Enter your best email address"></input>
  
  <input type="hidden" value="1" name="embed"></input>
  
  <button type="submit" value="Subscribe">Subscribe</button>
  
</form>
